:root {
  --quote-update: hsl(0, 0%, 100%, 50%);

  --bg-mobile: url('/images/bg-daytime-mobile.jpg');
  --bg-tablet: url('/images/bg-daytime-tablet.jpg');
  --bg-desktop: url('/images/bg-daytime-desktop.jpg');
}
